[data-widget="Carousel"]
{
	display: flex;
	align-items: center;
	justify-content: center;
}

[data-widget="Carousel.Item"]
{
	// TODO: none
}

[data-widget="Carousel.Button"]
{
	// TODO: none
}

[data-widget="Carousel.Wrapper"]
{
	width: 100%;
	overflow: hidden;

	> .cage
	{
		width: 100%;
		display: flex;

		> [data-widget="Carousel.Item"]
		{
			flex-shrink: 0;
		}
	}
}
