[data-widget="Carousel"]
{
	display: flex;
	align-items: center;
	justify-content: center;
}

[data-widget="Carousel.Item"]
{
	// TODO: none
}

[data-widget="Carousel.Button"]
{
	// TODO: none
}

[data-widget="Carousel.Wrapper"]
{
	width: 100%;
	overflow: hidden;

	> .cage
	{
		width: 100%;
		display: flex;

		> [data-widget="Carousel.Item"]
		{
			flex-shrink: 0;
		}
	}
	// desktop
	@media screen and (1200px <= width)
	{
		// TODO: none
	}
	// tablet
	@media screen and (768px <= width < 1200px)
	{
		// TODO: none
	}
	// mobile
	@media screen and (375px <= width < 768px)
	{
		// TODO: none
	}
}
