#root
{
	position: relative;
	background-color: #02000E;


	&::before
	{
		content: "";
		top: -250px;
		left: -250px;
		width: 500px;
		height: 500px;
		opacity: 25%;
		display: block;
		position: absolute;
		background-image: radial-gradient(circle, #14C3FE 0%, transparent 50%);
	}
}
