#root {
	position: relative;
	background-color: #02000e;

	&::before {
		content: "";
		pointer-events: none;
		top: -250px;
		left: -250px;
		width: 500px;
		height: 500px;
		opacity: 25%;
		display: block;
		position: absolute;
		background-image: radial-gradient(circle, #14c3fe 0%, transparent 50%);
	}
}
