@import url("https://cdn.jsdelivr.net/npm/reset-css/reset.min.css");

*
{
	box-sizing: border-box;
	transition: all 250ms ease-in-out;
}

:root
{
	font-family: Pretendard;
}

html, body, #root, #root > *
{
	width: 100%;
	height: 100%;
	user-select: none;
	touch-action: none;
}

/* desktop */
@media screen and (1200px <= width)
{
	.hide-on-pc
	{
		display: none !important;
	}
}
/* tablet */
@media screen and (768px <= width < 1200px)
{
	.hide-on-tablet
	{
		display: none !important;
	}
}
/* mobile */
@media screen and (375px <= width < 768px)
{
	.hide-on-mobile
	{
		display: none !important;
	}
}
